body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background: linear-gradient(to right, #ff9966, #ff5e62);
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #333;
        }
        .order-history {
            text-align: left;
            margin-top: 20px;
        }
        .order-label {
            display: block;
            background: #FFAC1C;
            color: white;
            padding: 10px;
            margin: 5px 0;
            cursor: pointer;
            border-radius: 5px;
        }
        .order-label:hover {
            background: #0056b3;
        }
        .order-details {
            display: none;
            background: #f4f4f4;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .toggle {
            display: none;
        }
        .toggle:checked + .order-label + .order-details {
            display: block;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background: #007bff;
            color: white;
        }
        .button-group {
            margin-top: 20px;
        }
        button {
            padding: 10px 15px;
            margin: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            color: white;
            background-color:#218838;
        }
        button:hover {
            background-color:#E97451 ;
        }
        a {
            text-decoration: none;
        }